 


.bye{
	width: 800px;
	height: 860px;
	background-color: lightgoldenrodyellow;
	border: 4px soild orange;
	border-radius: 50px 20px;
	text-align: center;
    color: darksalmon;
	box-shadow: 1px 1px 2px black, 0 0 25px dimgrey,0 0 5px slategrey;
    background-image: url(Hello.png);
	background-repeat: no-repeat;
	background-size: 100%;
    background-position-y: top;
    margin: 5%;

}

.photo{
	width: 425px;
	height: 53%;


}




.Title{
	padding-top: 5px;
	font-family: zapfino;
	font-size: 20px;
	font-style: bold;
	font-size-adjust: 100px;
	font-stretch: 1px;
	/*text-align: center;*/

    color: mediumvioletred;
    text-align: left;
    

}













.Text{
	text-align: center;
	font-family: cursive;
    color: black;
	box-shadow: 2px 2px 3px grey, 0 0 25px blue, 0 0 5px darkslateblue;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	}


.Link{
	text-align: center;
	
}